h1 {
    font-family: Impact, Charcoal, sans-serif;
font-size: 20px;
letter-spacing: 6px;
word-spacing: 2.4px;
color: #FF0000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}
 
.pitulin {
    color: rgb(168, 0, 0); font-size: 17px; line-height: 17px; padding: 6px; border-radius: 0px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .pitulin:hover {
    background: #1C6EA4; }
    .pitulin:active {
    background: #144E75; }